.overlay {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.6);
	.popup {
		position: fixed;
		left: 50%;
		top: 100px;
		transform: translateX(-50%);
		max-width: 750px;
		background-color: #fff;	
		&-close {
			position: absolute;
			font-size: 35px;
			color: white;
			top: -30px;
			right: -20px;
			cursor: pointer;
			font-weight: 300;
		}
		&-title {
			min-height: 69px;
			display: block;
			width: 100%;
			text-align: center;
			font-family: 'Roboto Medium', sans-serif;
			font-size: 21px;
			line-height: 69px;
			color: $text-color-light;
			background-color: $active-color;
			text-transform: uppercase;
		}
		&-form {
			display: block;
			background: #000 url(../img/modal/modal-bg.jpg) center no-repeat;
			background-size: cover;
			font-family: 'Roboto Regular', sans-serif;
			color: $text-color-light;
			padding: 35px 80px 35px 80px;
					
			&__caption {
				text-align: center;	
				width: 100%;
				font-size: 30px;
				line-height: 30px;
				span {
					display: block;
					font-size: 24px;
					margin-bottom: 16px;
				}
			}
			&__tel {
				display: block;
				text-align: center;	
				font-size: 20px;
				font-family: 'Roboto Thin', sans-serif;
				margin-bottom: 16px;
			}
			form {
				display: flex;
				justify-content: left;
			}
		}

	}	
}


